<div class="uk-card uk-card-body">
    <!-- Breadcrumb -->
    <div>
        <ul class="uk-breadcrumb">
            <li><a href="#"><span uk-icon="icon: home"></span> Dashboard</a></li>
        </ul>
    </div>

    <!-- Cards -->
    <div class="uk-grid-small uk-child-width-expand@s" uk-grid>
        <div>
            <!-- Analytics cards -->
            <div class="uk-grid-medium uk-child-width-expand@s uk-text-center" uk-grid>
                <div>
                    <div class="uk-card uk-card-default uk-card-body aquamarine">
                        <h5><b>Total Orders</b></h5>
                        <p></p>
                    </div>
                </div>
                <div>
                    <div class="uk-card uk-card-default uk-card-body red-bg">
                        <h5 style="color: white;"><b>Total Vendors</b></h5>
                        <p style="color: white;">300</p>
                    </div>
                </div>
            </div>

            <div class="uk-grid-medium uk-child-width-expand@s uk-text-center" uk-grid>
                <div>
                    <div class="uk-card uk-card-default uk-card-body gainsboro">
                        <h5><b>Orders (Today)</b></h5>
                        <p>561</p>
                    </div>
                </div>
                <div>
                    <div class="uk-card uk-card-default uk-card-body black-bg">
                        <h5 style="color: white;"><b>Daily Revenue</b></h5>
                        <p style="color: white;">KSH. 135,000</p>
                    </div>
                </div>
            </div>

            <div class="uk-grid-medium uk-child-width-expand@s uk-text-center" uk-grid>
                <div>
                    <div class="uk-card uk-card-default uk-card-body red-bg">
                        <h5 style="color: white;"><b>Daily Orders</b></h5>
                        <p style="color: white;">800</p>
                    </div>
                </div>
                <div>
                    <div class="uk-card uk-card-default uk-card-body">
                        <h5><b>Pending Orders</b></h5>
                        <p>73</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>