/* .black-background {
  background-color: black;
  min-height: 100vh !important;
  min-width: 100vw !important;
  position: relative;
  z-index: 0;
}

.red-background {
  background-color: red;
  right: 0 !important;
  top: 0 !important;
  height: 100vh !important;
  width: 10vw !important;
  border-radius: 50px 0 0 50px;
  position: absolute;
  z-index: 1;
}

.tienda-text {
  left: 20vw !important;
  top: 5vh !important;
  width: 15vw !important;
  position: absolute;
  z-index: 1;
  font-family: PT Sans;
  font-size: calc(50px + 3vw);
  color: black !important;
}

@media only screen and (max-width: 400px) {
  .dot {
    left: 55vw !important;
    top: 1.5vh !important;
    position: relative;
    z-index: 1;
    font-size: calc(50px + 3vw);
    color: red !important;
  }
}

@media only screen and (min-width: 550px) and (max-width: 780px) {
  .dot {
    left: 45vw !important;
    top: 1.5vh !important;
    position: relative;
    z-index: 1;
    font-size: calc(50px + 3vw);
    color: red !important;
  }
}

@media only screen and (min-width: 780px) and (max-width: 960px) {
  .dot {
    left: 40vw !important;
    top: 1.5vh !important;
    position: relative;
    z-index: 1;
    font-size: calc(50px + 3vw);
    color: red !important;
  }
}

@media only screen and (min-width: 960px) {
  .dot {
    left: 37vw !important;
    top: 1.5vh !important;
    position: relative;
    z-index: 1;
    font-size: calc(50px + 3vw);
    color: red !important;
  }
}
.uk-card {
  min-height: 100vh !important;
}

.grey {
  background-color: grey;
}

.white {
  background-color: white;
}

.red {
  background-color: red;
}

.black {
  background-image: url('../../../assets/ice-cubes.jpg');
  background-position: center;
  background-size: cover;
}

.login-container {
  border-style: solid;
  border-color: green;
  padding: 5%;
}

.login {
  position: absolute;
  background-color: black;
  border-radius: 60px;
  opacity: 0.8;
  top: 20vh !important;
  width: 30% !important;
  min-width: 300px !important;
  height: 70vh !important;
  padding-top: 3%;
}

.login > form {
  margin-left: 10% !important;
  width: 80% !important;
}

form > .uk-margin {
  margin-top: 5vh !important;
}

.uk-button {
  width: 100% !important;
}

.uk-legend {
  color: white;
}

.signup-link {
  color: white;
}

.uk-button-danger {
  background-color: red !important;
}
.field-set {
  margin-top: 20vh;
}
.legend-text {
  font-family: PT Sans;
}
.login-input {
  border-radius: 10px;
  text-align: center;
}

.sign-up-button {
  border-radius: 10px;
}
.login-input ::placeholder {
  background-color: red;
} */
