<div>

    <div class="uk-visible@m sidebar">
        <!-- <img src="assets/iimg.png" /> -->

      <div class="tienda-icon">
       
        <div class="tienda-text">
            <p class="tienda-t" >t 
                <span class="tienda-name" >.</span></p>
              
        </div>
        <span class="uk-text-baseline tienda-name" >Ruby Nakaya.</span>

      </div>
      
       
        
        <br>
        
        <br><br>
        <br>
        
        <br>
        
        <br>
        
        <br><br>
        <ul class="uk-nav uk-nav-default">
            <li class="uk-active uk-width-1-1@l blacked"><a href="home"><span uk-icon="home" class="icon-margin" ></span> Home</a></li>
            <li class="uk-active uk-width-1-1@l blacked"><a href="reports"><span uk-icon="history" class="icon-margin"></span> Reports</a></li>
            <li class="uk-active uk-width-1-1@l blacked"><a href="payments"><span uk-icon="credit-card" class="icon-margin"></span> Payments</a></li>

            <!-- <li class="uk-active uk-width-1-1@l"><a href="stock"><span uk-icon="cart"></span> Stock</a></li> -->
            <!-- <li class="uk-active uk-width-1-1@l"><a href="statistics"><span uk-icon="pencil"></span> Statistics</a></li> -->
        </ul>
    </div>
    
    <a href="#" class="uk-navbar-toggle uk-hidden@m sidebar" uk-navbar-toggle-icon uk-toggle="target: #offcanvas-nav"></a>

</div>



<div class="uk-hidden@m sidebar" >
    
    <div id="offcanvas-nav" uk-offcanvas="mode:push; overlay: true">
        <div class="uk-offcanvas-bar">

            <img src="assets/iimg.png" />
    
            <ul class="uk-nav uk-nav-default sidebar-small">
                <li class="uk-active uk-width-1-1@l"><a href="home"><span uk-icon="home"></span> Home</a></li>
                <li class="uk-active uk-width-1-1@l"><a href="stock"><span uk-icon="cart"></span> Stock</a></li>
                <li class="uk-active uk-width-1-1@l"><a href="statistics"><span uk-icon="pencil"></span> Statistics</a></li>
            </ul>
    
        </div>
    </div>


</div>





